/*My CSS*/

.App {
  text-align: center;
}

.header {
  background-color: #61dafb;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 250px;
  margin: 10px;
}

img {
  /*Make a larger image rezise into a smaller container*/
  max-width: 100%;
  max-height: 100%;
}
